[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-flask = "*"
responses = "*"
pytest-runner = "*"
pytest-cov = "*"
pytest-pep8 = "*"
colorama = "*"

[packages]
redis = "*"
datadog = "*"
ddtrace = "*"
sentry-sdk = "*"
flask = "*"
flask-cors = "*"
flask-injector = "*"
flask-sqlalchemy = "*"
geoalchemy2 = "*"
injector = "*"
requests = "*"
voluptuous = "*"
psycopg2-binary = "*"
stringcase = "*"
shapely = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
pyshuttlis = "*"
boto = "*"
"boto3" = "*"
sqlalchemy_continuum = "*"
mysql-connector-python = "*"
jsonpickle = "*"
srv-hijacker = "*"
blinker = "*"